maptter
<% if login? %>
<p><a href="/logout">logout</a></p>
<form method="POST" id="tweet-post-form" action="/twitter/update">
  <input type="hidden" name="in_reply_to_status_id"/>
  <textarea name="tweet" rows="5" cols="80"></textarea>
  <input type="submit" value="tweet" />
</form>
<p id="slider-length-display">Length: 200</p>
<div class="slider">
</div>
<div class="map" style="float: left;"></div>
<div class="friends" style="float: left;"></div>
<div style="clear: both"></div>
<div class="timeline"></div>
<% else %>
<a href="/oauth">login</a>
<% end %>
