<div id="main">
  <% if login? %>
  <h2>Your map</h2>
  <div id="timelinePane" class="pane">
    <form id="tweetPostForm">
      <label>
	<p>what are you doing?</p>
	<textarea name="tweet"></textarea>
      </label>
      <input type="hidden" name="in_reply_to_status_id" value="" />
      <input type="submit" value="tweet"/>
    </form>
    <div id="timelineTabs">
      <ul>
        <li><a href="#mapTab">map</a></li>
        <li><a href="#timelineTab">TL</a></li>
        <li><a href="#replyTab">@</a></li>
      </ul>
      <div id="mapTab" class="tab">
        <ul class="statusList"></ul>
      </div>
      <div id="timelineTab" class="tab">
        <ul class="statusList"></ul>
      </div>
      <div id="replyTab" class="tab">
        <ul class="statusList"></ul>
      </div>
    </div>
  </div>
  <div id="mapContainer">
    <div id="friendsPane" class="pane">
      <header>
	<input type="button" id="addFriendButton" class="toggleButton" value="Add Friends" />
      </header>
      <ul id="friendsList"></ul>
    </div>
    
    <div id="map" class="pane">
      <strong>Drag!!</strong>
    </div>
  </div>
  <% else %>
  <a href="/oauth">login</a>
  <% end %>
</div>
