<div id="main">
  <% if login? %>
  <h2>Your map</h2>
  <div id="mapContainer">
    <div id="map">
      <div id="friendsPanel" class="panel">
        <header>
	  <input type="button" id="addFriendButton" class="toggleButton" value="Add Friends" />
        </header>
	<div id="friendsScrollContainer">
          <ul id="friendsList"></ul>
	</div>
      </div>
      <div id="tlPanel" class="panel">
	<header>
	  <input type="button" id="tlToggleButton" class="toggleButton" value="Timeline" />
	</header>
	<div id="tlTabs">
          <ul>
            <li><a href="#mapTab">map</a></li>
            <li><a href="#tlTab">TL</a></li>
            <li><a href="#replyTab">@</a></li>
          </ul>
          <div id="mapTab" class="tab">
            <ul class="statusList"></ul>
          </div>
          <div id="tlTab" class="tab">
            <ul class="statusList"></ul>
          </div>
          <div id="replyTab" class="tab">
            <ul class="statusList"></ul>
          </div>
	</div>
      </div>
    </div>
  </div>
  <% else %>
  <a href="/oauth">login</a>
  <% end %>
</div>
