<div id="main">
  <% if login? %>
  <h2>Your map</h2>
  <div id="timelinePane" class="pane">
    <form id="tweetPostForm">
      <label>
	<p>いまどうしてる?</p>
	<textarea id="tweetTextarea" name="tweet"></textarea>
      </label>
      <input type="hidden" name="in_reply_to_status_id" value="" />
      <input type="hidden" id="token" name="token" value="<%= current_user.token%>">
      <input type="submit" value="ツイート"/>
    </form>
    <div id="timelineTabs">
      <ul>
        <li><a href="#mapTab">map</a></li>
        <li><a href="#timelineTab">TL</a></li>
        <!-- <li><a href="#replyTab">@</a></li> -->
      </ul>
      <div id="mapTab" class="tab">
        <ul class="statusList"></ul>
      </div>
      <div id="timelineTab" class="tab">
        <ul class="statusList"></ul>
      </div>
    </div>
  </div>
  <div id="mapContainer">
    <div id="friendsPane" class="pane">
      <header>
	<input type="button" id="addFriendButton" class="toggleButton" value="クリックして友達を表示" />
      </header>
      <ul id="friendsList">
	<!-- <img src="img/loading.gif" class="loading"> -->
      </ul>
    </div>
    <div id="map" class="pane">
      <strong>ドラッグして配置</strong>
      <div id="rangeSlider"></div>
    </div>
  </div>
  <% else %>
  <h3>Maptter</h3>
  <description>
    <p>「Maptter(まっぷったー)」はあなたの常識を覆すマップ型Twitterクライアントです</p>
    <p>あなたの友達をマップに配置することで、普段とは違ったタイムラインを作ります</p>
  </description>
  <p>Maptterを利用するためには、TwitterのOAuth認証が必要です</p>
  <p>
    OAuth認証してMaptterを利用する<br>
    <a href="/oauth"><img src="img/sign-in-with-twitter-d.png" class="" alt="" /></a><br>
    Maptterはマップ管理のためにリストを作成します
  </p>
  <div id="howtouse">
    <h4>使い方</h4>
    <ol>
      <li>OAuth認証してログインします</li>
      <li>画面中央上のボタンをクリックしてツイートを見たいユーザーのアイコンをマップに追加します</li>
      <li>自分のアイコンを動かすと、マップにいる友達との距離に応じてツイートの表示が変化します</li>
      <li>半透明なアイコンの友達のツイートはアイコンのみ表示されます</li>
      <li>スライドバーを変化させることで有効距離を変えることができます</li>
    </ol>
  </div>
  <% end %>
</div>
