maptter
<% if login? %>
<p><a href="/logout">logout</a></p>
<div class="map" style="float: left;"></div>
<div class="friends" style="float: left;"></div>
<div style="clear: both"></div>
<div class="timeline"></div>
<% else %>
<a href="/oauth">login</a>
<% end %>
