<div id="main">
  <% if login? %>
  <h2>Your map</h2>
  <div id="mapContainer">
    <div id="map">
      <input type="button" id="addFriendsBtn" value="Add Friends"></input>
      <div id="friendsPanel" class="panel">
        <header>
          <h3>Add friends</h3>
        </header>
        <ul id="friendsList"></ul>
        <footer>
          <ul>
            <li>prev</li>
            <li>next</li>
          </ul>
        </footer>
      </div>
      <div id="tlPanel" class="panel">
        <ul>
          <li><a href="#mapTab">map</a></li>
          <li><a href="#tlTab">TL</a></li>
          <li><a href="#replyTab">@</a></li>
        </ul>

        <div id="mapTab">
          <ul class="statusList">
          </ul>
        </div>
        <div id="tlTab">
          <ul class="statusList">
          </ul>
        </div>
        <div id="replyTab">
          <ul class="statusList">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <a href="/oauth">login</a>
  <% end %>
</div>
<!--<p><a href="/logout">logout</a></p>
<form method="POST" id="tweet-post-form" action="/twitter/update">
  <input type="hidden" name="in_reply_to_status_id"/>
  <textarea name="tweet" rows="5" cols="80"></textarea>
  <input type="submit" value="tweet" />
</form>
<p id="slider-length-display">Length: 200</p>
<div class="slider">
</div>
<div class="map" style="float: left;"></div>
<div class="friends" style="float: left;"></div>
<div style="clear: both"></div>
<div class="timeline"></div>-->

