<!DOCTYPE html>
<html>
  <head>
    <title>maptter</title>
    <link rel="icon" href="maptter.ico"/>
    <link rel="stylesheet" href="css/maptter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery-ui-1.8.14.custom.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.qtip.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="js/twitter-text-1.4.6.js"></script>
    <script type="text/javascript" src="js/charCount.js"></script>
    <script type="text/javascript" src="js/maptter.js"></script>
  </head>
  <body>
    <div id="headerContainer">
      <header>
        <h1><a href="/">maptter</a></h1>
        <ul>
          <% if login? %>
          <li><a href="/logout">ログアウト</a></li>
          <% else %>
          <li><a href="/oauth">ログイン</a></li>
          <% end %>
        </ul>
      </header>
    </div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footerContainer">
      <footer>
        <h2>フッター</h2>
        <div id="copy">Copyright &copy; 2011 maptter.</div>
	<div id="member">
	  <p>
	    Developers &nbsp;
	    <a href="http://twitter.com/#!/phelrine">phelrine</a>,&nbsp;
	    <a href="http://twitter.com/#!/side_tana">side_tana</a><br>
	    Illustrator &nbsp;
	    <a href="http://twitter.com/#!/yurieee2go">yurieee2go</a>
	  </p>
	</div>
      </footer>
    <div id="footerContainer">
  </body>
</html>
