<html>
  <head>
    <title>Maptter</title>
    <link rel="stylesheet" href="css/maptter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery-ui-1.8.14.custom.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.qtip.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="js/twitter-text-1.4.6.js"></script>
    <script type="text/javascript" src="js/maptter.js"></script>
  </head>
  <body>
    <div id="headerContainer">
      <header>
        <h1><a href="/">Maptter</a></h1>
        <ul>
          <% if login? %>
          <li>Tweet</li><li><a href="/logout">ログアウト</a></li>
          <% else %>
          <li>ログイン</li>
          <% end %>
        </ul>
      </header>
    </div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footerContainer">
      <footer>
        <h2>Footer</h2>
        <h3>maptter</h3>
        <h3>使い方</h3>
        <div id="copy">&copy; maptter 2011.</div>
      </footer>
    <div id="footerContainer">
  </body>
</html>
