<html>
  <head>
    <title>Maptter</title>
    <link rel="stylesheet" href="css/maptter.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/maptter.js"></script>
  </head>
  <body>
    <h1>Maptter</h1>
    <%= yield %>
  </body>
</html>
