<html>
  <head>
    <title>Maptter</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/maptter.js"></script>
  </head>
  <body>
    <h1>Maptter</h1>
    <%= yield %>
  </body>
</html>
