@charset "UTF-8";
@import "reset.css";

body { 
    background: #09c;
    font-size: small;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    display: none;
}

a {  }
a:visited {  }
a:hover {  }
a:active {  }


/* ------------------------------------- */
/* header                                */
/* ------------------------------------- */
div#headerContainer{
    color: #fff;
    background-color: #000;
    background-image: url("./images/header_bg.png");
    box-shadow: 2px 0px 5px 0px #333;
    margin: 0px auto;
}

div#headerContainer header{
    width: 980px;
    margin: 0px auto;
    font-size: 16px;
    padding: 5px 0px;
}

div#headerContainer header a {
    color: #fff;
}
div#headerContainer header a:visited {
    color: #dcdcdc;
}
div#headerContainer header a:hover {
    color: #1e90ff;
}
div#headerContainer header a:active {  }

div#headerContainer header h1{
    float: left;
}

div#headerContainer header ul{
    display: block;
    text-align: right;
}

div#headerContainer header ul li{
    display: inline;
    padding: 0px 10px;
    border-right: 1px #555 solid;
}

div#headerContainer header ul li:last-child{
    padding-right: 0px;
    border-right: 0px;
}

/* ------------------------------------- */
/* mapContainer                          */
/* ------------------------------------- */
div#main{
    width: 980px;
    height: 700px;
    margin: 1.5% auto;
}
div.pane{
    border: 1px #ccc solid;
    border-radius: 8px;
    box-shadow: 0px 3px 5px #000;
}

div#timelinePane{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 318px;
    height: 100%;
    margin: 0px 10px 0px 0px;
    float: left;
}

div#timelinePane form{
    margin: 5px;
}

div#timelinePane textarea{
    display: block;
    width: 98%;
    height: 70px;
    margin: 3px auto;
}

div#timelineTabs{
    display: block;
    width: 95%;
    height: 560px;
    margin: 1px auto;
}

div#timelinePane .tab{
    max-height: 480px;
    padding: 5px;
    overflow: auto;
}

div#mapContainer{
    width: 650px;
    float: left;
}

div#friendsPane{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

div#friendsPane:hover{
    opacity: 1;
}

ul#friendsList{
    display: none;
}

ul#friendsList img{
    width: 48px;
    heigh: 48px;
    margin: 1px;
}

div#friendsPane img:hover{
    border: red 1px solid;
    margin: 0px;
}

input.toggleButton{
    border: 0px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding: 5px 0px 2px 1px;
    border-radius: 8px;
    width: 100%;
}

input.toggleButton:hover{
    background: rgba(128, 128, 128, 0.7);
}

div#map{
    background: rgba(255, 255, 255, 0.7);
    height: 660px;
    margin: 10px 0px;
    position: relative;
    text-align: center;
}

div#map strong{
    font-size: 2em;
    display: none;
    position: absolute;
    top: 10px;
    left: 200px;
}

div#map.addFriend{
    background: rgba(255, 255, 255, 0.9);
}

div#map div#rangeSlider {
    margin: 30px 0px 0px 10px;
}

li.status{
    display: block;
    padding: 3px;
    vertical-align: middle;
}

li.status:hover{
    background: rgba(12, 21, 223, 0.4);
}

li.status div.image{
    width: 50px;
    padding: 1px;
    float: left;
}

li.status div.image img{
    width: 48px;
    height: 48px;
}

li.status div.content{
    margin-left: 50px;
}

li.status div.content span.screenname{
    font-size: 90%;
    padding: 0px 0px 0px 3px;
}

li.status div.content span.screenname:after{
    content: " / ";
}

li.status div.content span.name{
    font-size: 80%;
}

li.status div.content div.text{
    margin: 5px 5px 0px 3px;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}

li.status div.content div.tool{
    text-align: right;
    font-size: 90%;
    visibility: hidden;
    margin-top: 3px;
}

li.status div.content div.tool a{
    padding: 0 0.3em;
    border: 0px #666 solid;
    border-width: 0px 1px 0px 0px;
}

li.status div.content div.tool a:last-child{
    padding-right: 0;
    border-width: 0px;
}

li.status div.content div.tool a.reply{
    display: inline-blcok;
}

li.iconOnly{
    display: inline-block;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

li.iconOnly:hover{
    background: transparent;
}

li.iconOnly img{
    width: 24px;
    height: 24px;
    padding: 1px;
}

li.iconOnly div.content span{
    vertical-align: middle;
}

/* ------------------------------------- */
/* footer                                */
/* ------------------------------------- */
div#footerContainer{
    color: #ccc;
    background: #333;
    margin: 0px auto;
}

div#footerContainer footer{
    width: 980px;
    margin: 0px auto;
    padding: 1em 0px 0px 0px;
}

div#footerContainer footer h3{
    font-size: large;
    color: #fff;
    border: #fff 0px solid;
    border-width: 0px 0px 0px 5px;
    padding: 3px 0px 0px 3px;
}

div#footerContainer footer div#copy{
    text-align: right;
    padding-bottom: 5px;
}

.clear{
    clear: both;
}

.friends {
    position: relative;
    height: 480px;
    width: 240px;
    border: 1px solid;
}

.mapIcon {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    box-shadow: 0px 2px 5px 0px #333;
    border: 1px solid #000;
    border-radius: 5px;
}

.mapIcon img{
    border-radius: 4px;
}

.mapIcon:hover {
    border: red 1px solid;
}

.mapIcon img{
    width: 48px;
    height: 48px;
}

#rangeSlider {
    height: 600px;
}

span.ui-icon{
    display: inline-block;
    vertical-align: middle;
}