@charset "UTF-8";
@import "reset.css";

body{ 
    background: #09c;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h2{
    display: none;
}


/* ------------------------------------- */
/* header                                */
/* ------------------------------------- */
div#headerContainer{
    color: #fff;
    background-color: #000;
    background-image: url("./images/header_bg.png");
    box-shadow: 2px 0px 5px 0px #333;
}

div#headerContainer header{
    width: 90%;
    margin: 0px auto;
    font-size: 16px;
    padding: 5px 0px;
}

div#headerContainer header h1{
    float: left;
}

div#headerContainer header ul{
    display: block;
    text-align: right;
}

div#headerContainer header ul li{
    display: inline;
    padding: 0px 10px;
    border-right: 1px #555 solid;
}

div#headerContainer header ul li:last-child{
    padding-right: 0px;
    border-right: 0px;
}


/* ------------------------------------- */
/* mapContainer                          */
/* ------------------------------------- */

div#mapContainer{
    background: rgba(255, 255, 255, 0.7);
    height: 80%;
    width: 90%;
    border: 1px #ccc solid;
    border-radius: 8px;
    margin: 1.5% auto;
}

div#mapContainer div#map{
    height: 100%;
    margin: 10px;
    position: relative;
}


div#mapContainer div#map div.panel{
    border: 0px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

div#mapContainer div#map div#friendsPanel{
    float: right;
    box-shadow: 0px 3px 5px #000;
}

div#mapContainer div#map input#addFriendsBtn{
    border: 0px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding: 5px 0px 2px 1px;
    border-radius: 3px;
}
div#mapContainer div#map input#addFriendsBtn:hover{
    background: rgba(102, 102, 102, 0.7);
}

div#mapContainer div#map div#friendsPanel div#friendsScrollContainer{
    max-width: 270px;
    max-height: 270px;
    overflow: auto;
}

div#mapContainer div#map div#friendsPanel:hover{
    opacity: 1;
}

div#mapContainer div#map div#friendsPanel img{
    margin: 1px;
}

div#mapContainer div#map div#tlPanel{
    width: 40%;
    height: 50%;
    overflow: auto;
}

div.status{
    color: white;
}

/* ------------------------------------- */
/* footer                                */
/* ------------------------------------- */
div#footerContainer{
    color: #ccc;
    background: #333;
}

div#footerContainer footer{
    width: 90%;
    margin: 0px auto;
    padding: 1em 0px 0px 0px;
}

div#footerContainer footer h3{
    font-size: large;
    color: #fff;
    border: #fff 0px solid;
    border-width: 0px 0px 0px 5px;
    padding: 3px 0px 0px 3px;
}

div#footerContainer footer div#copy{
    text-align: right;
    padding-bottom: 5px;
}

.map {
    position: relative;
    height: 480px;
    width: 640px;
    border: 1px solid;
    padding: 24px 0px 0px 24px;
}

.friends {
    position: relative;
    height: 480px;
    width: 240px;
    border: 1px solid;
}

.icon {
    display: block;
/*    margin: -24px 0px 0px -24px;*/
    position: absolute;
    border: 1px solid;
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 5px 0px #333;
}

.icon:hover {
    border: red 1px solid;
}


.slider {
    width: 640px;
}

